<script id="some-template" type="text/x-handlebars-template">

<div id="finn_spa">
	<div id="cloud">Siemanko {{imie}}!<br>Wiesz na co pora?<br> Pora na nową przygode!<div id="cloud_triangle_l"></div></div>
    <img src="http://www.cartoonnetwork.pl/sites/www.cartoonnetwork.pl/files/finn_character.png">

</script>
<div id="out">

</div>