<div id="content">
<div class="content_title">Nowa Kategoria</div>

<%= form_for(@category, :url => { :action => "category_add" }) do |f| %>
<p>Tytuł: <%= f.text_field :name%></p>
<%= f.submit %>
<% end %>



</div>