<div id="content">
<div class="content_title">Produkty</div>
<a href="/admin/thing_add">Utwórz Produkt</a><br><br>
<% @things.each do |thing| %>
	<a href="/admin/thing_edit/<%=thing.id%>"><span class="button"><%= thing.name %><span></a>
	 Kategoria 
	 <% if thing.category %>
	 <%= thing.category.name %>
	 <% else %>
	 BRAK KATEGORII
	 <% end %>
	 <a href="/admin/thing_del/<%=thing.id%>">Usuń (DANGEROUS!)</a><br><br>

<% end %>
</div>