      <div class="cart_object">
        <div class="price">2PLN</div>
        <div class="title">Rzecz</div>
        <div class="price_sum">4PLN</div>
        <div class="count">Sztuk:<input type="text" size="2" value="2"></div>
        <div class="info_button">Szczegóły</div>
        <div class="remove_button">Usuń</div>
        <br>

    </div>