	<div class="offer_box">
	<b><%= thing.name %></b><br><br>
	<span class="price"><%= thing.cost %> zł</span><br><a href="/thing/<%= thing.id %>"><input  class="button" type="button" value='Wybierz'></a>
	</div>