<div id="content">
<div class="content_title">Zamówienie potwierdzone</div>
<h2>Kasa została przekazana... mozesz już pójść sobie... Nothing to do here</h2>

<div id="cloud" style="width:240px;position:relative;top:10px;left:20px">Ojej.. Udało Ci sie zrobić zamówienie<div id="cloud_triangle_l"></div></div>

<img src="http://media.tumblr.com/tumblr_lzkhuz8Exl1qmmjh3.gif">
</div>