<div id="categories">
<div id="arrowc_box">
<div id="arrowc"><img src="/arrow.png"></div>
<div id="arrowc_content">Kategorie</div>
</div>
<% @categories.each do |category| %>
	<a href="/category/<%=category.id%>"><span class="button"><%= category.name %><span></a>

<% end %></div>
<div id="content">

<div class="content_title"><%= @thing.name %></div>
<div id="jake">
<div id="cloud">Zaufaj mi ziomuś<br> to jest mega okazja<div id="cloud_triangle_l"></div></div>
<img id="jake_img"  src="http://3.bp.blogspot.com/_inTbHVA4clo/TIPX1HflkII/AAAAAAAAACU/wRg07kAv-ME/s1600/adventure-time-with-finn-and-jake-john-dimaggio-2.jpg">
</div>
<div id="arrowp_box">
<div id="arrow"><img src="/arrow2.png"></div>
<div id="arrowp_content">Pole z produktami (można klikać ^ ^)</div>
</div>
</div>
