<div id="content">
<div class="content_title">Edytujesz Kategorie <%=@category.name %></div>

<%= form_for([:admin,@category]) do |f| %>
<p>Tytuł: <%= f.text_field :name%></p>
<%= f.submit %>
<% end %>



</div>