/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
	position:absolute;
margin:0;
padding:0;
background: #eeeeec;
font-family: Verdana;
color:#2e2e2e;
width:100%;
}
#frame {
position:absolute;
width:800px;
left:50%;
top:150px;
margin-left:-400px;
}
#content {
margin-top:10px;
background-color: #eeeeec;
box-shadow: 0 0px 1px #909090;
font-size:12px;
padding:20px;
border:1px solid #eeeeec;
border-radius: 5px;
min-height:300px;
width:760px;
}
#logo {
position:absolute;
width:350px;
left:50%;
margin-left:-380px;
top: 50px;


}
#logo a {
color: #000;
text-decoration:none;
font-size:50px;

}
.content_title {
font-size:20px;
text-align:right;
margin-bottom:10px;
}
.offer_box {
display:inline-block;
text-align:center;
min-width:100px;
min-height:50px;
background-color: #eeeeec;
box-shadow: 0 0px 1px #909090;
font-size:12px;
padding:20px;
border:1px solid #eeeeec;
border-radius: 5px;
margin:5px;
}
.offer_box .price {
font-weight:bold;
}
.offer_box .button {
border: 1px solid #AAA;
font-size: 14px;
background-image: -moz-linear-gradient(center top , #FFFFFF, #CCCCCC);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
color: #111111;
font-weight: bold;
text-decoration: none;
text-shadow: 0 1px 0 #FFFFFF;
width:auto;
height:auto;
padding:5px;
padding-top:2px;
padding-bottom:2px;
margin:0;
}
.offer_box .button  a {
text-decoration:none;
}

#menu_bar {
padding-top:10px;
background-color:#2e2e2e;
padding-bottom:10px;
border:1px solid #eeeeec;
border-radius: 5px; 
border-bottom:1px solid #555753 ;
position:absolute;
right:50%;
top:70px;
margin-right: -400px;
width:470px; 
text-align: right;
color:#fff;
padding-right:10px;
}
#menu_bar a {
text-decoration:none;
}
#menu_bar .button {
padding:5px;
color:#fff;
font-size:14px;
margin-left:0px;
}
#menu_bar span.button:hover {
background-color:#0f0f0f;
border-radius: 5px;

}
#arrowc_box {
position:absolute;
top:-100px;
left: 400px;

}
#arrowc {
position:absolute;

}
#arrowc_content {
position:absolute;
left:180px;
top:10px;
font-size:20px;
}
#arrowp_box {
position:absolute;
bottom:-100px;
left: 400px;

}
#arrowp {
position:absolute;

}
#arrowp_content {
position:absolute;
left:180px;
top:80px;
font-size:18px;
width:200px;
}
#arrowl_box {
position:absolute;
top:0px;
left:-130px;

}
#arrowl {
position:absolute;

}
#arrowl_content {
position:absolute;
left:-40px;
top:170px;
font-size:18px;
width:200px;
}
#finn {
position: absolute;
top:90px;
left:-50px;

}
#finn #cloud {
position:absolute;
left: 80px;
top:-50px;
width: 100px;

}
#jake #cloud {
position:absolute;
left: 50px;
}
#finn_win {
position:absolute;
right: 30px;
bottom: -50px;

}
#finn_win #cloud {
position:absolute;
left: 150px;
top:-50px;
}
#finn_win_img {
width:300px;

}
#cloud {
margin-top:0px;
background-color: #eeeeec;
box-shadow: 0 0px 1px #909090;
font-size:12px;
padding:10px;
border:1px solid #eeeeec;
border-radius: 5px;
}

#cloud_triangle_l {
position:absolute;
bottom:-20px;
width: 0px; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 20px solid #eeeeec; 

} 

#jake {
width: 150px;

}
#jake_img {
margin-top:45px;
width:150px;

}
#cart_outside {



}
#cart
{
	position:fixed;
	width:200px;
	left:100%;
	min-height: 500px;
margin-top:0px;
background-color: #eeeeec;
box-shadow: 0 0px 1px #909090;
font-size:12px;
padding:20px;
border:1px solid #eeeeec;
border-radius: 5px;


}
#cart_icon {
	position:absolute;
	left:-65px;
margin-top:0px;
background-color: #eeeeec;
box-shadow: -1px 0px 1px #909090;
font-size:12px;
padding:10px;
border:1px solid #eeeeec;
border-radius: 5px;
}
#cart_objects {
	overflow: auto;
	height:450px;
	width:100%;


}

#cart_summary {
	position:absolute;
	bottom:30px;
	font-size:20px;
	text-decoration: bold;


}
#cart_end_button {
	position:absolute;
	bottom:0;
	right:0px;
border: 1px solid #AAA;
font-size: 14px;
background-image: -moz-linear-gradient(center top , #FFFFFF, #CCCCCC);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
color: #111111;
font-weight: bold;
text-decoration: none;
text-shadow: 0 1px 0 #FFFFFF;
width:auto;
height:auto;
padding:5px;
padding-top:2px;
padding-bottom:2px;
margin-right:10px;
margin-bottom:10px;	


}
#cart_title {
	font-size:20px;

}
.cart_object {
	position:relative;
margin-top:5px;
background-color: #eeeeec;
box-shadow: 0 0px 1px #909090;
font-size:12px;
padding:20px;
border:1px solid #eeeeec;
border-radius: 5px;
min-height:50px;

}
.cart_object .title {
	font-size:15px;
	text-decoration: bold;


}
.cart_object .price {
	float:right;

}
.cart_object .price_sum {
	float:right;

}
.cart_object .count input{
	background:transparent;
	border: 1px solid #AAA;
	text-align:right;
	width:auto;

}
.cart_object .remove_button {
	border: 1px solid #AAA;
font-size: 14px;
background-image: -moz-linear-gradient(center top , #FFFFFF, #CCCCCC);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
color: #111111;
font-weight: bold;
text-decoration: none;
text-shadow: 0 1px 0 #FFFFFF;
width:auto;
height:auto;
padding:5px;
padding-top:2px;
padding-bottom:2px;
margin-right:10px;
margin-bottom:10px;	
float:right;
}
.cart_object .info_button {
	border: 1px solid #AAA;
font-size: 14px;
background-image: -moz-linear-gradient(center top , #FFFFFF, #CCCCCC);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
color: #111111;
font-weight: bold;
text-decoration: none;
text-shadow: 0 1px 0 #FFFFFF;
width:auto;
height:auto;
padding:5px;
padding-top:2px;
padding-bottom:2px;
margin-right:10px;
margin-bottom:10px;
float:left;	
position:absolute;
}
.cart_object .add_here {
	position:absolute;
	left:50%;
	margin-left:-60px;



}

.cart_object .cart_finn {
	background: url('/assets/finn.png');
	position:absolute;
	right:0;
	bottom:0;
	width:100px;
	height:50px;



}
#cart_cloud {
	position:absolute;
margin-top:-30px;
background-color: #eeeeec;
box-shadow: 0 0px 1px #909090;
font-size:12px;
padding:2px;
border:1px solid #eeeeec;
border-radius: 5px;
font-size:9px;
}

#cart_cloud_triangle_l {
position:absolute;
right:30px;
bottom:-10px;
width: 0px; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 10px solid #eeeeec; 

} 
#cart_new_object {
	display:none;
	}


#admin_bar {
padding-top:10px;
padding-left:10px;
background-color:#2e2e2e;
padding-bottom:10px;
border:1px solid #eeeeec;
border-radius: 5px; 
border-bottom:1px solid #555753 ;
position:absolute;
left:50%;
top:115px;
margin-left:-400px;
width:780px;

color:#fff;
padding-right:10px;
}
#admin_bar a {
text-decoration:none;
}
#admin_bar .button {
padding:5px;
color:#fff;
font-size:14px;
margin-left:0px;
}
#admin_bar span.button:hover {
background-color:#0f0f0f;
border-radius: 5px;

}