
<div id="content">
<div class="content_title">Produkty @ <%=@category.name%></div>

<% @category.things.each do |thing| %>
<%= render :partial => "shop/offer_box",  :locals => { :thing => thing }  %>
<% end %>
<div id="finn_win">
<div id="cloud">Tyle artykułów...<br>Tyle wygrać<div id="cloud_triangle_l"></div></div>
<img id="finn_win_img" src="http://images.wikia.com/creepypasta/images/3/38/Adventure-time-with-finn-and-jake.jpg">
</div>
<!--<div id="arrowp_box">
<div id="arrow"><img src="/arrow2.png"></div>
<div id="arrowp_content">Pole z produktami (można klikać ^ ^)</div>
</div>-->
</div>
