<!DOCTYPE html>
<html>
<head>
  <title>Fse (admin)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
   <meta name="Robots" content="all" /> 
    <meta name="description" content="" /> 
    <meta name="keywords" content="" /> 
    <meta name="Language" content="pl-PL" /> 
    <meta name="Author" content="greyfox" /> 
</head>
<body>



<div id="user_nav">
  <% if user_signed_in? %>
  <% if current_user.admin %> 
  <%= link_to "Admin", :controller => :admin, :action => :index %>|
  <% end%>
    Zalogowany jako <%= current_user.email %>. TO NIE TY? D:
    <%= link_to "wyloguj", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Zarejestruj", new_user_registration_path %> lub <%= link_to "Zaloguj", new_user_session_path %>
  <% end %>
</div>


<!-- To bedzie tutaj bo nie znalazlem lepszego miejsca narazie -->
       <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

    <div id="logo">
	<a href="/">FSE </a> <a href="/admin">ADMIN</a>
<!--	<div id="arrowl_box">
	    <div id="arrowl"><img src="/arrow3.png"></div>
	    <div id="arrowl_content">Idz do indeks!</div>
	</div> -->
    </div>
      <div id="menu_bar">
<!--<div id="arrowc_box">
<div id="arrowc"><img src="/arrow.png"></div>
<div id="arrowc_content">Kategorie</div>
</div > -->
<a href="/"><span class="button">Strona główna<span></a>
<a href="/category/"><span class="button">Kategorie<span></a>
<a href="#"><span class="button">Informacje o nas<span></a>
<a href="#"><span class="button">Pomoc<span></a>
<a href="#"><span class="button">Koszyk<span></a> 
</div>
      <div id="admin_bar">
<!--<div id="arrowc_box">
<div id="arrowc"><img src="/arrow.png"></div>
<div id="arrowc_content">Kategorie</div>
</div > -->
<a href="/admin/"><span class="button">Pulpit<span></a>
<a href="/admin/category/"><span class="button">Kategorie<span></a>
<a href="/admin/things"><span class="button">Produkty<span></a>
<a href="/admin/order_history"><span class="button">Historia zamówień<span></a>
<a href="/admin/users"><span class="button">Użytkownicy<span></a> 
</div>

    <div id="frame">
	    <%= yield %>
    </div>
  <div id="finn">
	<div id="cloud">No siema!<br>Co montujesz?<div id="cloud_triangle_l"></div></div>
    <img src="http://images1.wikia.nocookie.net/__cb20120921151660/adventuretimewithfinnandjake/images/f/f3/Original_Finn.png">
    </div>
</body>
</html>
